################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ajex(Crud Operations)/.vs/Ajex(Crud Operations)/v16/Server/sqlite3
